/*** Base styles ***
********************/

/* element styles */

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FFD6F4;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 2em auto;
  padding-top: 2%;
}

p {
  font-size: 1em;
}

img {
	max-width: 100%;
}

nav {
  text-align: center;
  width: 100%;
}

ul {
  list-style-type: none;
  text-align: center;
  width: 100%;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.profile-image {
  margin-top: 2em;
  margin-bottom: 1em;
  max-width: 75%;
}

figure {
  padding-left: 0;
  padding-right: 0;
  margin: 2.5%;
}

.skills-title {
  border-top: solid 1px #000;
  padding-top: 2em;
  max-width: 80%;
}

.skills {
  padding-bottom: 0;
  min-width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.experience,
.interests {
  display: block;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin: 2.5%;
  padding-bottom: 1em;
}

figcaption {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

footer {
  background-color: #F2F3F4;
  margin-bottom: 0;
}

address {
  padding-bottom: 1.5em;
}

.footer-body {
  max-width: 80%;
  border-bottom: solid 1px #85929E;
  margin: auto;
  text-align: center;
  padding-top: 1em;
}

.footer-nav {
  background-color: #F2F3F4;
  max-width: 90%;
  border-top: solid 1px black;
  margin: 0 auto;
  padding-bottom: 1em;
}

.studentname {
  float: left;
  background-color: #F2F3F4;
  width: 40%;
  text-align: left;
}

.totop {
  float: right;
  background-color: #F2F3F4;
  width: 40%;
  text-align: right;
}

.contact {
  padding-top: 1.5em;
}

.home-link,
.portfolio-link,
.contact-link {
  display: none;
}


/*** Base layout styles ***
***************************/

html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #F2F3F4;
  padding: 0;
}

.header-wrapper {
  max-width: 95%;
  padding: 1em 0.5em;
  margin: 0 auto;
}

.main-wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.footer-wrapper {
  min-width: 100%;
  margin: 0;
}

/*** pseudo classes ***
***************************/

nav li {
  padding: 0.5em;
  margin: 0.25em auto;
  background-color: #FFFFFF;
}

a:hover {
  color: #FFD6F4;
  font-style: italic;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.footer-nav li {
  max-width: 50%;
  background-color: #F2F3F4;
  margin-bottom: 5px;
  padding: 5px;
}

.footer-wrapper p {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

/*** Base styles ***
********************/

/*** media queries ***
***************************/

@media (min-width: 768px) {

/* element styles */

  header {
    display: inline-block;
  }

  .header-nav li {
    display: inline-block;
    background-color: #F2F3F4;
    text-align: right;
    margin-right: 0;
  }

  .profile-image {
    float: right;
    max-width: 40%;
    text-align: right;
    margin: 0 auto;
    padding-right: 2em;
  }

  .header-content {
    padding-bottom: 12em;
  }

  .main-heading {
    text-align: left;
    display: inline-block;
  }

  .header-tagline {
    float: left;
    max-width: 60%;
    text-align: left;
    margin: 0 auto;
    font-size: 1.25em;
    padding-left: 2em;
    padding-right: 2em;
  }

  figure {
    width: 40%;
    display: inline-block;
    text-align: center;
  }

  .experience,
  .interests {
    min-width: 45%;
    min-height: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 0 2em;
  }

/* layout styles */


  .main-wrapper {
    text-align: center;
    max-width: 95%;
  }

  .header-wrapper {
    padding-bottom: 2.5em;
  }

  .footer-wrapper {
    max-width: 90%;
    margin: auto;
    /* padding-top: 1em; */
  }

  .contact {
    padding-top: 3em;
  }

  .footer-nav {
    padding-bottom: 3em;
  }

  .desktop-nav {
    padding-bottom: 3em;
    display: inline-block;
  }

  .studentname {
    float: left;
  }

  .totop {
    display: none;
  }

  .home-link,
  .portfolio-link,
  .contact-link {
    float: right;
    display: inline-block;
  }

  address {
    padding-bottom: 3em;

}


/*** Desktop ***
***************************/

@media (min-width: 1024px) {

  /* element styles */

  .header-wrapper {
    margin-bottom: 0;
  }

  .main-heading {
    text-align: left;
    display: inline-block;
    max-width: 25%;
    float: left;
    padding-bottom: 1em;
  }

  .header-nav {
    text-align: right;
    display: inline-block;
    max-width: 25%;
    float: right;
    /* margin-right: 0.5em; */
  }

  .header-content {
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .profile-image {
    float: right;
    max-width: 30%;
    text-align: right;
    margin-right: 0;
    padding-right: 0;
  }

  .header-tagline {
    float: left;
    max-width: 40%;
    text-align: left;
    margin-left: 0;
    font-size: 1.25em;
    padding-left: 0;
  }

  .main-wrapper {
    min-height: calc(100vh - 389px);
  }

  figure {
    width: 26%;
    text-align: center;
  }


  /* layout styles */

  body {
    background-color: #F2F3F4;
  }

  .main-wrapper {
    max-width: 95%;
    margin: 0 auto;
    background-color: #fff;
  }

  .footer-wrapper {
    min-width: 95%;
  }

  .contact {
    padding-top: 1em;
  }

  .skills {
    padding-bottom: 1em;
  }

  .skills-title {
    margin-bottom: 1em;
  }

  .experience,
  .interests {
    min-width: 40%;
    min-height: 100%;
    display: inline-block;
    text-align: center;
    margin: 1em auto;
    padding-bottom: 1em;
  }

  .interests p {
    margin: 0;
  }


}
}
