/*** Base styles ***
********************/

/* element styles */

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 2em auto;
  padding-top: 2%;
}

img {
	max-width: 100%;
}

nav {
  text-align: center;
  width: 100%;
}

ul {
  list-style-type: none;
  text-align: center;
  width: 100%;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.profile-image {
  margin-top: 2em;
  margin-bottom: 1em;
  max-width: 75%;
}

figure {
  padding-left: 0;
  padding-right: 0;
  margin: 2.5%;
}

figcaption {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

footer {
  background-color: #F2F3F4;
  margin-bottom: 0;

}

.footer-body {
  max-width: 80%;
  border-bottom: solid 1px #85929E;
  margin: auto;
  text-align: center;
  padding-top: 1em;
}

.footer-nav {
  background-color: #F2F3F4;
  max-width: 80%;
  border-top: solid 1px black;
  margin: 0 auto;
}

.studentname {
  float: left;
  background-color: #F2F3F4;
  width: 40%;
  margin-left: 0;
}

.totop {
  float: right;
  background-color: #F2F3F4;
  width: 40%;
  margin-right: 0;
  padding-right: 0;



}

.contact {
  padding-top: 1.5em;
}


/*** Base layout styles ***
***************************/

html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #F2F3F4;
  padding: 0;
}

.header-wrapper {
  max-width: 95%;
  padding: 1em 0.5em;
  margin: 0 auto;
}

.main-wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 0;

}

/*** pseudo classes ***
***************************/

nav li {
  padding: 0.5em;
  margin: 0.25em auto;
  background-color: #FFFFFF;
  width: 100%
}

a:hover {
  color: #FFD6F4;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.footer-nav li {
  float: left;
}

.footer-wrapper p {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

/*** floats ***
***************************/
